/* Anymal Soccer Widgets - Custom Theme */
api-sports-widget[data-theme="anymal"],
anymal-widget[data-theme="anymal"] {
  --primary-color: #10501A;
  --success-color: #00a859;
  --warning-color: #f27100;
  --danger-color: #DA5000;
  --light-color: #828d97;

  --home-color: #10501A;
  --away-color: #DA5000;

  --text-color: #10501A;
  --text-color-info: #828d97;

  --background-color: #ffffff;

  --primary-font-size: 0.72rem;
  --secondary-font-size: 0.75rem;
  --button-font-size: 0.8rem;
  --title-font-size: 0.9rem;

  --header-text-transform: uppercase;
  --button-text-transform: none;
  --title-text-transform: uppercase;

  --border: 1px solid rgba(16, 80, 26, 0.2);
  --game-height: 2.3rem;
  --league-height: 2.35rem;

  --score-size: 2.25rem;
  --flag-size: 22px;
  --teams-logo-size: 18px;
  --teams-logo-size-xl: 5rem;
  --hover: rgba(16, 80, 26, 0.1);
}
